*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	text-decoration: none;
	-webkit-overflow-scrolling: touch;
	font-family: "微软雅黑";
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,body,.container{
	width: 100%;
	max-width: 1024px !important;
	margin: auto;
	overflow-x:hidden;
}
.bgImg{
	width: 300px;
	height: 300px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	display: none;
}
#blue{
	color: #19A8EB;
}
#orange{
	color: #FF9C28;
}
.header{
	width: 100%;
	height: 1.07rem;
	max-width: 1024px !important;
	background-color: #fff;
	padding-left: .13rem;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	display: -moz-box;
	display: box;
	-moz-box-pack: justify;
	-webkit-box-pack: justify;
	box-pack: justify;
	-moz-justify-content: space-between;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-moz-box-align: center;
	-webkit-box-align: center;
	box-align: center;
	-moz-align-items: center;
	align-items: center;
	-webkit-align-items: center;
	padding: 0 .3rem;
	z-index: 999999;
	border-bottom: 1px solid #CFCFCF;
}
.header h4{
	font-size: .3rem;
	color: #000;
	font-weight: normal;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	display: -moz-box;
	display: box;
}
.header h4 div{
	position: relative;
}
.header h4 span:nth-child(1){
	font-weight: bold;
	padding-right: .1rem;
}
.header h4 span:nth-child(2){
	font-size: .22rem;
	color: #737373;
	line-height: 1.07rem;
	position: relative;
	top: -.03rem;
}
.header h4 img{
	width: .81rem;
	height: .81rem;
	margin-right: .1rem;
	margin-top: .12rem;
	font-size: .2rem;
}
.header p{
	width: 1.35rem;
	height: .63rem;
	border-radius: 10px;
	border: 1px solid #000;
	line-height: .63rem;
	text-align: center;
	font-size: .2rem;
	color: #000;
}
.main{
	width: 100%;
}
.conter{
	width: 100%;
	height: 10.79rem;
	background: #6dd2f8;
	padding-top: .34rem;
	position: relative;
}
.conterBox_gold{
	width: 6.34rem;
	height: 9.09rem;
	margin: 0 auto;
	border-radius: 10px;
	background: url(../images/boxbg.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
	overflow: hidden;
}
.boxTop{
	width: 100%;
	height: 1.21rem;
	padding-top: .4rem;
	text-align: center;
}
.boxTop h1{
	font-size: .3rem;
	color: #000;
}
.boxTop p{
	padding-top: .2rem;
	font-size: .24rem;
	color: #999999;
}
.conter_videoBox{
	width: 4.61rem;
	height: 5.82rem;
	position: relative;
	left: 0;
	right: 0;
	margin:.22rem auto 0;
	overflow: hidden;
	z-index: 100;
}
.conter_videoBox .login{
	width: 100%;
	height: 100%;
	position: absolute;
	background: #333;
	overflow: hidden;
}
.login_play{
	position: absolute;
	width: 1.11rem;
	height: 1.11rem;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background: url(https://qiniustatic.if-chat.com/h5/staticv2/complay.png) no-repeat;
	background-size: 100% 100%;
	z-index: 999;
}
.login_video{
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}
.login_video center{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.qp{
	width: .64rem;
	height: .64rem;
	border: 10px solid transparent;
	background: url(https://qiniustatic.if-chat.com/h5/staticv2/qb.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	right: .05rem;
	z-index: 99999;
	bottom: .6rem;
}
#canvas{
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin:auto;
	background: #000;
}
.login_video video{
	width: 100%;
	height: 100%;
	top: 0;
	position: absolute;
}
.poster{
	position: absolute;
	bottom: 0;
	z-index: 99;
	overflow: hidden;
}
.poster{
	width: 100%;
	height: 100%;
}
.poster img{
	width: 100%;
	height: 100%;
	font-size: .2rem;
}
.userBox{
	width: 4.86rem;
	height: 1.25rem;
	position: relative;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 99999;
}
.userBox .girl{
	width: 1.72rem;
	height: 1.88rem;
	position: absolute;
	background: url(../images/girl.png) no-repeat;
	background-size: 100% 100%;
	right: -.3rem;
	top: -.7rem;
}
.userBox .boy{
	width: 1.72rem;
	height: 1.88rem;
	position: absolute;
	background: url(../images/boy.png) no-repeat;
	background-size: 100% 100%;
	right: -.3rem;
	top: -.7rem;
}
.user{
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	display: -moz-box;
	display: box;
	-moz-box-pack: start;
	-webkit-box-pack: start;
	box-pack: start;
	-moz-justify-content: flex-start;
	justify-content: flex-start;
	-webkit-justify-content: flex-start;
	-moz-box-align: center;
	-webkit-box-align: center;
	box-align: center;
	-moz-align-items: center;
	align-items: center;
	-webkit-align-items: center;
}
.user img{
	width: .67rem;
	height: .67rem;
	border-radius: 50%;
	font-size: .2rem;
	margin-left: .1rem;
}
.user span{
	font-size: .2rem;
	padding-bottom: .07rem;
}
.userR{
	padding-left: .15rem;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	display: -moz-box;
	display: box;
	box-orient:vertical;
	-moz-box-orient:vertical;
	-webkit-box-orient:vertical;
	flex-direction: column;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
}
.invite{
	font-size: .2rem;
}
.btn{
	width: 6.14rem;
	height: 1.21rem;
	background: url(../images/btnbg.png) no-repeat;
	background-size: 100% 100%;
	border-radius: 10px;
	position: relative;
	left: 0;
	right: 0;
	margin: -.3rem auto;
	color: #000;
	font-size: .3rem;
	text-align: center;
	line-height: 1rem;
}
.fuceng {
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url(../images/safari.png);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: none;
	z-index:9999999;
}

.fuceng_android {
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url(../images/browser.png);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: none;
	z-index:9999999;
}