<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">
	<!--让IE以最新的内核渲染 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<!--让视口宽度为设备宽度,不允许用户缩放 -->
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<!--不自动识别电话号码和邮编 -->
	<meta name="format-detection" content="telephone=no,email=no"/>
	<!--开启对webapp的支持 -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!--强制全屏显示 -->
	<meta name="full-screen" content="yes">
	<!--禁止浏览器从缓存中访问页面内容 -->
	<meta http-equiv="Pragma" content="no-cache">
	<!--web app 应用下状态(屏幕顶部条)的颜色,默认值为 default(白色) -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<title th:text="${shareData.title}">IF-无视频不聊天</title>
	<link rel="stylesheet" href="/share/resources/shareStyle.css">
</head>
<body>
<p th:hidden="true" th:text="${shareData.from}" id="from"></p>
<p th:hidden="true" th:text="${shareData.jm}" id="jm"></p>
<!-- 隐藏图 -->
<img th:src="${shareData.wxthumburl}" th:hidden="true">
<div id="fc" class="fuceng"></div>
<div class="container">
	<a class="header">
		<h4><img src="https://qiniustatic.if-chat.com/h5/staticv2/logo.png" alt=""><div><span>iF</span><span>-&nbsp;开启社交颜世代</span></div></h4>
		<p>立即下载</p>
	</a>
	<main class="main">
		<section class="conter">
			<div class="conter_top">
				<div class="top_pendant">
					<p><span></span>
						<span></span>
						<span></span></p>
				</div>
				<div class="top_title">新年AR吃货大作战</div>
			</div>
			<div class="conter_videoBox">
				<div class="login">
					<p class="login_play"></p>
				</div>
				<!-- poster/缩略图 -->
				<div class="poster"><img th:src="${shareData.thumburl}"></div>
				<div class="login_video">
					<video id="videos" controls>
						<source th:src="${shareData.videourl}" />
					</video>
					<canvas id="canvas"></canvas>
					<div class="qp"></div>
				</div>
			</div>

			<div class='center_streamerMin'>
				<div class='user'><img th:src="${shareData.headurl+'?imageView2/1/w/200/h/200'}" alt=""><span th:text="${shareData.nickName}">iF</span></div>
				<div>iF邀请码：<span id="red" th:text="${shareData.myincode}">暂无</span></div>
			</div>
			<div class='center_streamerMax'>
				<div class="myEat"><p></p><span th:text="${shareData.nickName}+' 在'">iF</span><p></p></div>
				<div class="eatUser"><img th:src="${shareData.fheadurl+'?imageView2/1/w/200/h/200'}" alt=""><span th:text="${shareData.fusername}">土豪</span>&nbsp;家吃到了<span th:text="${shareData.score}">2222</span>分</div>
			</div>
			<div class="eatWrites" th:hidden="${shareData.score == 0}">
				<div th:hidden="${shareData.score == 0}">击败了<span class="eatWrite_user" th:text="${shareData.percent}">10%</span>的用户</div>
				<div th:hidden="${shareData.rp_amount eq '0.0' or shareData.score==0}">
					<div th:hidden="${shareData.isEatOffi}">，还拿到<span id="red" th:text="${shareData.rp_amount} + '元'">66元</span>现金红包</div>
					<div th:hidden="${not shareData.isEatOffi}">，还获得官方财富<span id="red" th:text="${shareData.rp_amount} + '元'">66元</span></div>
				</div>
			</div>
			<div class="eatTex">快来iF挑战吧，还有2亿现金红包等你拿！</div>

		</section>
	</main>
</div>
<script src="/share/resources/zepto.min.js"></script>
<script src="/share/resources/download.js"></script>
<script src="/share/resources/share.js"></script>
</body>
</html>